@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  --color-primary-gray-1: #a0a0a0; /* Default Icon */
  --color-primary-gray-2: #363636; /* Top bar */
  --color-primary-gray-3: #262626; /* Side bars (toolbar and explorer) */
  --color-primary-gray-4: #1e1e1e; /* Editor background */

  --color-primary-gray-active-icon: #dadada; /* Active icon */
  --color-primary-gray-button-hover-bg: #434343; /* Button hover bg */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* CUSTOM CSS */
/* ICON BUTTON */
.icon-button {
  svg {
    color: var(--color-primary-gray-1);
    width: 18px;
    height: 18px;
  }

  &:hover svg {
    color: var(--color-primary-gray-active-icon);
    transition-duration: 100ms;
  }
}